@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #020617;
    --card: #ffffff;
    --card-foreground: #020617;
    --popover: #ffffff;
    --popover-foreground: #020617;
    --primary: #4f46e5;
    --primary-foreground: #f8fafc;
    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --destructive-light: #fee2e2;
    --primary-foreground-muted: #e0e7ff;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #4f46e5;
  }

  .dark:root {
    --background: #0f172a;
    --foreground: #f8fafc;
    --card: #1e293b;
    --card-foreground: #f8fafc;
    --popover: #0f172a;
    --popover-foreground: #f8fafc;
    --primary: #4f46e5;
    --primary-foreground: #f8fafc;
    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    --accent: #1e293b;
    --accent-foreground: #f8fafc;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --destructive-light: #fee2e2;
    --primary-foreground-muted: #e0e7ff;
    --border: #1e293b;
    --input: #1e293b;
    --ring: #4f46e5;
  }
}
